* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.hidden {
  visibility: hidden;
  position: absolute;
  left: -99999999px;
}

@media (max-width: 1140px) {
  .container {
    width: 735px;
  }
}
@media (max-width: 735px) {
  .container {
    width: 360px;
  }
}
.header {
  background-color: #222222;
}

.header_container {
  padding: 18px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_col_2 {
  position: relative;
  list-style-type: none;
  margin-right: 8px;
}

.header_item {
  display: inline-block;
}

.header_logo_link {
  margin-right: 41px;
  text-decoration: none;
}

.header_search,
.header_catalog,
.header_account,
.header_bascet {
  fill: #E8E8E8;
  transition: fill 1s;
}

.header_search_link:hover .header_search,
.header_catalog_link:hover .header_catalog,
.header_account_link:hover .header_account,
.header_bascet_link:hover .header_bascet {
  fill: #F16D7F;
}

.header_account_link,
.header_bascet_link {
  margin-left: 33px;
  display: block;
}

.header_bascet_link::after {
  position: absolute;
  right: -8px;
  content: "5";
  color: #FFFFFF;
  width: 19px;
  height: 19px;
  text-align: center;
  line-height: 17px;
  background: url(../pictures/Header_Ellipse.svg) no-repeat top;
  display: inline-block;
}

.header_nav {
  position: absolute;
  z-index: 1;
  width: 232px;
  background-color: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding-bottom: 120px;
  margin-top: 15px;
  transform: scaleY(0);
  transition: transform 1s;
  transform-origin: center top;
  left: -57px;
}

.header_item_hover:hover .header_nav {
  transform: scaleY(1);
}

.header_nav_close {
  background-color: transparent;
  border: none;
  position: absolute;
  cursor: pointer;
  background: url(../pictures/header_nav_close.svg) no-repeat center;
  width: 12px;
  height: 12px;
  top: 16px;
  right: 16px;
  transition: 1s;
}
.header_nav_close:hover {
  background: url(../pictures/header_nav_close_hover.svg) no-repeat center;
}

.header_nav_zag {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-left: 34px;
  margin-top: 37px;
}

.header_nav_zag_sec {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  margin-left: 34px;
  margin-bottom: 12px;
  text-decoration: none;
  margin-top: 20px;
  display: inline-block;
  transition: color 1s;
}
.header_nav_zag_sec:hover {
  color: #000000;
}

.header_nav_list {
  list-style-type: none;
}

.header_nav_item {
  margin-left: 54px;
  margin-bottom: 11px;
}

.header_nav_link {
  text-decoration: none;
  margin-bottom: 11px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  transition: color 1s;
}
.header_nav_link:hover {
  color: #F16D7F;
}

@media (max-width: 735px) {
  .header_account_link,
.header_bascet_link {
    display: none;
  }
  .header_nav {
    left: -200px;
  }
}
.offer {
  background-color: #F1E4E6;
}

.offer_container {
  display: flex;
  align-items: center;
}

.offer_pic {
  margin-left: -230px;
  margin-right: 64px;
}

.offer_text {
  font-family: "Lato";
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  color: #222222;
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
}

.offer_text_capital {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
}

.offer_text_pink {
  color: #F16D7F;
}

@media (max-width: 1140px) {
  .offer_pic {
    margin-left: -25px;
    margin-right: 39px;
    width: 386px;
    height: 368px;
  }
  .offer_text_capital {
    font-size: 44px;
    line-height: 53px;
  }
  .offer_text {
    font-size: 22px;
    line-height: 29px;
  }
}
@media (max-width: 735px) {
  .offer_container {
    height: 363px;
    justify-content: center;
  }
  .offer_pic {
    display: none;
  }
  .offer_text_capital {
    font-size: 38px;
    line-height: 46px;
  }
  .offer_text {
    font-size: 20px;
    line-height: 24px;
  }
}
.catalog {
  background-color: #FFFFFF;
}

.catalog_container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 65px;
}

.catalog_item {
  background-color: #C4C4C4;
  width: 360px;
  height: 260px;
  margin-bottom: 30px;
  text-decoration: none;
  text-align: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.catalog_col_1 {
  background: url(../pictures/catalog_women.jpg) no-repeat center;
  background-size: cover;
}

.catalog_col_2 {
  background: url(../pictures/catalog_man.jpg) no-repeat center;
  background-size: cover;
}

.catalog_col_3 {
  background: url(../pictures/catalog_kids.jpg) no-repeat center;
  background-size: cover;
}

.catalog_col_4 {
  background: url(../pictures/catalog_accesories.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 180px;
}

.catalog_text_sale {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  transition: color 1s;
}

.catalog_text_main {
  color: #F16D7F;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  transition: color 1s;
}

.catalog_col_1:hover .catalog_text_sale,
.catalog_col_2:hover .catalog_text_sale,
.catalog_col_3:hover .catalog_text_sale,
.catalog_col_4:hover .catalog_text_sale {
  color: #F16D7F;
}

.catalog_col_1:hover .catalog_text_main,
.catalog_col_2:hover .catalog_text_main,
.catalog_col_3:hover .catalog_text_main,
.catalog_col_4:hover .catalog_text_main {
  color: #FFFFFF;
}

@media (max-width: 1140px) {
  .catalog_container {
    padding-top: 20px;
  }
  .catalog_item {
    width: 232px;
    height: 167px;
    margin-bottom: 20px;
  }
  .catalog_col_4 {
    width: 100%;
  }
}
@media (max-width: 735px) {
  .catalog_container {
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 64px;
  }
  .catalog_item {
    width: 343px;
    height: 247px;
    margin-bottom: 32px;
  }
}
.list {
  background-color: #FFFFFF;
}

.list_container {
  margin-bottom: 95px;
}

.list_marg {
  margin-bottom: 128px;
}

.list_filter {
  width: 100%;
  margin-top: 51px;
  display: flex;
  padding-bottom: 17px;
}

.list_filter_mainfil {
  position: relative;
}

.list_filter_mainfil[open] .list_filter_col_1_text {
  color: #EF5B70;
}

.list_filter_mainfil[open] .list_filter_col_1_icon {
  fill: #EF5B70;
}

.list_filter_col_1 {
  margin-left: 10px;
  margin-right: 304px;
  cursor: pointer;
  display: block;
  position: relative;
  z-index: 2;
}

.list_filter_col_1_text {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-transform: uppercase;
  margin-right: 11px;
}

.list_filter_col_1_icon {
  fill: #000000;
}

.list_filter_list_main {
  width: 360px;
  background-color: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding-top: 50px;
  position: absolute;
  top: -6px;
  z-index: 1;
}

.list_filter_mainfil_text {
  margin-left: 17px;
  width: 327px;
  height: 37px;
  border-left: 5px solid #EF5B70;
  border-bottom: 1px solid #EBEBEB;
  font-weight: 400;
  font-size: 14px;
  line-height: 32px;
  color: #EF5B70;
  padding-left: 11px;
  display: block;
  cursor: pointer;
  margin-bottom: 19px;
}

.list_filter_mainfil_list {
  list-style-type: none;
  padding-top: 6px;
}
.list_filter_mainfil_list:last-child {
  margin-bottom: 24px;
}

.list_filter_mainfil_item {
  margin-left: 34px;
  margin-bottom: 11px;
}

.list_filter_mainfil_item_link {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  transition: color 1s;
}
.list_filter_mainfil_item_link:hover {
  color: #EF5B70;
}

.list_filter_secfil {
  position: relative;
}

.list_filter_col_2 {
  margin-right: 28px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  text-transform: uppercase;
  cursor: pointer;
  display: block;
}
.list_filter_col_2::after {
  content: "";
  background: url(../pictures/list_arrow.svg) no-repeat center;
  width: 10px;
  height: 5px;
  margin-left: 10px;
  margin-bottom: 3px;
  display: inline-block;
}

.list_filter_col_2_nomar {
  margin-right: 0;
}

.list_filter_trend,
.list_filter_size,
.list_filter_price {
  position: absolute;
  margin-top: 5px;
  z-index: 1;
  background-color: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.list_filter_trend:last-child,
.list_filter_size:last-child,
.list_filter_price:last-child {
  padding-bottom: 13px;
}

.list_filter_trend {
  width: 142px;
}

.list_filter_size {
  width: 59px;
}

.list_filter_price {
  width: 69px;
}

.list_filter_chek {
  margin-left: 9px;
  margin-top: 10px;
  border: 1px solid #EBEBEB;
}

.list_filter_chek_text {
  display: inline-block;
  margin-top: -5px;
  margin-left: 9px;
  vertical-align: middle;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #6F6E6E;
}

.list_zagolovok {
  padding-top: 96px;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  text-align: center;
  width: 100%;
}

.list_text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  text-align: center;
  width: 100%;
}

.list_catalog {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 48px;
}

.list_card {
  width: 360px;
  margin-bottom: 30px;
  background-color: #F8F8F8;
  position: relative;
}

.list_card_img_hover {
  width: 360px;
  height: 420px;
  background: rgba(58, 56, 56, 0.86);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  opacity: 0;
  transition: opacity 1s;
}

.list_card:hover .list_card_img_hover {
  opacity: 1;
}

.list_card_img_button {
  width: 138px;
  height: 43px;
  border: 1px solid #FFFFFF;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border 1s, color 1s;
}
.list_card_img_button::before {
  content: "";
  background: url(../pictures/list_icon_basket.svg);
  width: 26px;
  height: 24px;
  margin-right: 10px;
  fill: #E1E1E1;
}
.list_card_img_button:hover {
  border: 1px solid #F16D7F;
  color: #F16D7F;
}

.list_card_zagolovok {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  padding-left: 18px;
  margin-top: 25px;
}

.list_card_zagolovok_link {
  text-decoration: none;
}

.list_card_text {
  font-weight: lighter;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  padding-left: 16px;
  padding-right: 29px;
  margin-top: 12px;
}

.list_card_price {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  padding-left: 18px;
  margin-top: 18px;
  padding-bottom: 20px;
}

.list_button_block {
  display: flex;
  justify-content: center;
}

.list_button {
  margin-top: 18px;
  background-color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  padding: 15px 39px;
  border: 1px solid #FF6A6A;
  text-decoration: none;
  text-align: center;
  transition: background-color 1s, color 1s;
}
.list_button:hover {
  background-color: #F26376;
  color: #FFFFFF;
}

.list_pagination {
  display: flex;
  justify-content: center;
  margin-top: 19px;
}

.list_pagination_list {
  display: flex;
  justify-content: center;
  width: 283px;
  height: 43px;
  border: 1px solid #EBEBEB;
  padding: 15px;
  margin: 0;
  list-style-type: none;
  align-items: center;
}

.list_pagination_arrow_left {
  background: url(../pictures/list_arrow_left.svg) no-repeat;
  width: 8px;
  height: 14px;
  box-sizing: initial;
  border: none;
  background-color: transparent;
  margin-right: 21px;
  margin-top: 6px;
  transition: 1s;
  cursor: pointer;
}
.list_pagination_arrow_left:hover {
  background: url(../pictures/list_arrow_left_hover.svg) no-repeat;
}

.list_pagination_arrow_right {
  background: url(../pictures/list_arrow_right.svg) no-repeat;
  width: 8px;
  height: 14px;
  box-sizing: initial;
  border: none;
  background-color: transparent;
  margin-top: 6px;
  transition: 1s;
  cursor: pointer;
}
.list_pagination_arrow_right:hover {
  background: url(../pictures/list_arrow_right_hover.svg) no-repeat;
}

.list_pagination_number {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #C4C4C4;
  border: none;
  background-color: transparent;
  margin-right: 21px;
  transition: color 1s;
  cursor: pointer;
}
.list_pagination_number:hover {
  color: #EF5B70;
}

.list_pagination_number_no {
  margin-right: 0;
}

.list_style_separator {
  margin: 0;
  color: #C4C4C4;
}

@media (max-width: 1140px) {
  .list_container {
    margin-bottom: 65px;
  }
  .list_marg {
    margin-bottom: 128px;
  }
  .list_filter {
    margin-top: 24px;
    padding-bottom: 0;
  }
  .list_filter_col_1 {
    margin-right: 367px;
    margin-left: 0;
  }
  .list_zagolovok {
    padding-top: 134px;
  }
  .list_catalog {
    margin-top: 73px;
  }
  .list_catalog_table {
    margin-top: 40px;
  }
  .list_card {
    margin-bottom: 17px;
  }
  .list_card_hidden {
    display: none;
  }
  .list_button {
    margin-top: 16px;
  }
  .list_pagination {
    margin-top: 24px;
  }
}
@media (max-width: 735px) {
  .list_container {
    margin-bottom: 97px;
  }
  .list_marg {
    margin-bottom: 64px;
  }
  .list_filter_col_1 {
    margin-right: 53px;
  }
  .list_filter_col_1_text {
    display: none;
  }
  .list_filter_col_1_icon {
    width: 37px;
    height: 25px;
  }
  .list_filter_col_2 {
    font-size: 12px;
    line-height: 14px;
  }
  .list_zagolovok {
    padding-top: 32px;
  }
  .list_catalog_table {
    margin-top: 32px;
  }
  .list_catalog {
    margin-top: 65px;
  }
  .list_button {
    margin-top: 41px;
  }
}
.benefits {
  background-color: #222224;
}

.benefits_container {
  display: flex;
  justify-content: space-between;
  padding-top: 104px;
  padding-bottom: 104px;
}

.benefits_card {
  width: 310px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.benefits_img_1::before {
  content: "";
  background: url(../pictures/offer_truck.svg) no-repeat center top;
  width: 45px;
  height: 40px;
  transition: transform 1s;
}

.benefits_img_1:hover::before {
  transform: scale(1.5);
}

.benefits_img_2:before {
  content: "";
  background: url(../pictures/offer_percent.svg) no-repeat center top;
  width: 40px;
  height: 40px;
  transition: transform 1s;
}

.benefits_img_2:hover::before {
  transform: scale(1.5);
}

.benefits_img_3::before {
  content: "";
  background: url(../pictures/offer_crown.svg) no-repeat center top;
  width: 47px;
  height: 40px;
  transition: transform 1s;
}

.benefits_img_3:hover::before {
  transform: scale(1.5);
}

.benefits_zagolovok {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FBFBFB;
  margin-top: 54px;
}

.benefits_text {
  font-weight: lighter;
  font-size: 14px;
  line-height: 17px;
  color: #FBFBFB;
  text-align: center;
  margin-top: 16px;
}

@media (max-width: 1140px) {
  .benefits_container {
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    padding-top: 48px;
    padding-bottom: 15px;
  }
  .benefits_card {
    margin-bottom: 48px;
  }
  .benefits_zagolovok {
    margin-top: 19px;
  }
}
@media (max-width: 735px) {
  .benefits_container {
    padding-bottom: 33px;
  }
}
.subscribe {
  background: url(../pictures/subscribe_back.jpg) no-repeat center;
  background-size: cover;
}

.subscribe_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 448px;
}

.subscribe_col_1,
.subscribe_col_2 {
  width: 360px;
}

.subscribe_img {
  margin-left: 120px;
  margin-bottom: 30px;
}

.subscribe_text_main {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}

.subscribe_text_second {
  font-style: italic;
}

.subscribe_text_main_col_1 {
  font-weight: bold;
  font-size: 24px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
}

.subscribe_text_second_col_1 {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 32px;
}

.subscribe_form {
  display: flex;
}

.subscribe_email {
  font-family: inherit;
  width: 256px;
  height: 49px;
  background-color: #E1E1E1;
  border: none;
  padding-left: 22px;
  padding-right: 22px;
  border-radius: 20px 0 0 20px;
}
.subscribe_email:focus {
  outline: 1px solid #F16D7F;
}

.subscribe_email[placeholder] {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  align-items: center;
  color: #222224;
  opacity: 0.67;
}

.subscribe_button {
  font-family: inherit;
  width: 100px;
  height: 49px;
  background-color: #F16D7F;
  border: none;
  border-radius: 0 20px 20px 0;
  transition: border 1s, background-color 2s;
  cursor: pointer;
}
.subscribe_button:hover {
  background-color: #FFFFFF;
  border: 1px solid #F16D7F;
}

.subscribe_button[value] {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  transition: 1s;
}
.subscribe_button[value]:hover {
  color: #F16D7F;
}

@media (max-width: 1140px) {
  .subscribe {
    background: url(../pictures/subscribe_back_tablet.jpg) no-repeat center;
    background-size: cover;
  }
  .subscribe_container {
    flex-direction: column;
    justify-content: flex-start;
    height: 614px;
  }
  .subscribe_col_1 {
    margin-top: 54px;
    margin-bottom: 48px;
  }
  .subscribe_text_second_col_1 {
    margin-bottom: 27px;
  }
  .subscribe_col_2 {
    padding-bottom: 140px;
  }
}
@media (max-width: 735px) {
  .subscribe {
    background: url(../pictures//subscribe_back_mobile.jpg) no-repeat center;
    background-size: cover;
  }
  .subscribe_container {
    height: 550px;
  }
  .subscribe_col_1 {
    margin-bottom: 59px;
  }
  .subscribe_text_main_col_1 {
    font-size: 24px;
    line-height: 37px;
  }
  .subscribe_text_second_col_1 {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 23px;
    text-align: center;
  }
  .subscribe_col_2 {
    padding-bottom: 110px;
  }
}
.footer {
  background-color: #222224;
}

.footer_container {
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

.footer_img_link {
  margin-left: 7px;
}

.footer_img {
  fill: #FFFFFF;
  transition: fill 1s;
}

.footer_img_link:hover .footer_img {
  fill: #F16D7F;
}

.footer_img_col_1 {
  fill: #000000;
  transition: fill 1s;
}

.footer_img_link:hover .footer_img_col_1 {
  fill: #FFFFFF;
}

@media (max-width: 735px) {
  .footer_container {
    padding: 0;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
  }
  .footer_col_2 {
    margin-top: 43px;
    margin-bottom: 40px;
  }
  .footer_col_1 {
    padding-bottom: 9px;
  }
}
.nav_header {
  background-color: #F8F3F4;
}

.nav_header_container {
  height: 148px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_header_zag {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.nav_header_breadcrumb {
  list-style: none;
  display: flex;
}

.nav_header_breads::before {
  content: "/";
  margin: 5px;
  color: #636363;
}

.nav_header_breads:first-child:before {
  display: none;
}

.nav_header_breads_link {
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  text-decoration: none;
  transition: color 1s;
}
.nav_header_breads_link:hover {
  color: #F16D7F;
}

.nav_header_breads_link_col_1 {
  font-weight: bold;
  color: #F16D7F;
}

@media (max-width: 735px) {
  .nav_header_container {
    height: 148px;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
  }
  .nav_header_zag {
    margin-top: 24px;
    margin-bottom: 32px;
  }
  .nav_header_zag_marg {
    margin-top: 60px;
  }
}
.registration {
  background-color: #FFFFFF;
}

.registration_container {
  padding-top: 64px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.registration_form {
  width: 360px;
}

.registration_form_field {
  border: none;
}

.registration_form_zag {
  margin-bottom: 20px;
  font-weight: lighter;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.registration_form_input {
  font-family: inherit;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 17px;
  padding-right: 17px;
  width: 360px;
  border: 1px solid #A4A4A4;
}

.registration_form_input::-moz-placeholder {
  font-weight: lighter;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.registration_form_input:-ms-input-placeholder {
  font-weight: lighter;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.registration_form_input::placeholder {
  font-weight: lighter;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.registration_form_intext_col_1 {
  margin-bottom: 20px;
}

.registration_form_intext_col_2 {
  margin-bottom: 30px;
}

.registration_form_intext_col_3 {
  margin-bottom: 15px;
}

.registration_form_text {
  font-weight: lighter;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  margin-bottom: 39px;
}

.registration_form_radio {
  width: 17px;
  height: 17px;
  border: 1px solid #A4A4A4;
}

.registration_form_field_radio {
  margin-bottom: 33px;
}

.registration_form_radio_text {
  margin-left: 10px;
  margin-right: 20px;
  vertical-align: text-top;
}

.registration_form_radio_text {
  font-weight: lighter;
  font-size: 11px;
  line-height: 17px;
  color: #000000;
}

.registration_form_button {
  width: 167px;
  height: 50px;
  background-color: #F16D7F;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  margin-bottom: 96px;
  border: none;
  cursor: pointer;
  transition: border 1s, color 1s, background-color 1s;
}
.registration_form_button:hover {
  background-color: #FFFFFF;
  color: #F16D7F;
  border: 1px solid #F16D7F;
}

.registration_form_button_text::after {
  content: "";
  background-image: url(../pictures/registration_icon_button.svg);
  display: inline-block;
  width: 17px;
  height: 10px;
  color: #FFFFFF;
  margin-left: 20px;
  transition: 2s;
}

.registration_form_button:hover .registration_form_button_text:after {
  background-image: url(../pictures/registration_icon_button_hover.svg);
}

.registration_form_input:focus {
  outline-color: #F16D7F;
}

.registration_loyalty {
  width: 652px;
}

.registration_loyalty_zag {
  font-weight: lighter;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 22px;
}

.registration_loyalty_text {
  font-weight: lighter;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 21px;
}

.registration_loyalty_list {
  font-weight: lighter;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  list-style: none;
}

.registration_loyalty_listing {
  background: url(../pictures/registration_icon_list.svg) no-repeat left center;
  padding-left: 42px;
}

@media (max-width: 1140px) {
  .registration_loyalty {
    width: 354px;
  }
  .registration_loyalty_zag {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 32px;
  }
  .registration_loyalty_text {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 22px;
  }
  .registration_loyalty_list {
    font-size: 16px;
    line-height: 19px;
  }
  .registration_loyalty_listing {
    margin-bottom: 16px;
  }
}
@media (max-width: 735px) {
  .registration_container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
  }
  .registration_form_button {
    margin-bottom: 40px;
  }
  .registration_loyalty_list {
    margin-bottom: 81px;
  }
}
.item_pic {
  background-color: #F7F7F7;
  border-top: 1px solid #EAEAEA;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item_pic_button_left,
.item_pic_button_right {
  width: 47px;
  height: 47px;
  border: none;
}

.item_pic_button_left {
  background: url(../pictures/item_slider_arrow_left.svg) center no-repeat rgba(42, 42, 42, 0.15);
  transition: 1s;
  cursor: pointer;
}
.item_pic_button_left:hover {
  background: url(../pictures/item_slider_arrow_left_hover.svg) center no-repeat rgba(42, 42, 42, 0.15);
}

.item_pic_button_right {
  background: url(../pictures/item_slider_arrow_right.svg) center no-repeat rgba(42, 42, 42, 0.15);
  transition: 1s;
  cursor: pointer;
}
.item_pic_button_right:hover {
  background: url(../pictures/item_slider_arrow_right_hover.svg) center no-repeat rgba(42, 42, 42, 0.15);
}

.item_pic_img {
  padding-top: 10px;
  padding-bottom: 42px;
}

.item {
  background-color: #FFFFFF;
  border-top: 1px solid #EAEAEA;
  padding-bottom: 21px;
}

.item_container {
  background-color: #FFFFFF;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -60px;
  border: 1px solid #EAEAEA;
}

.item_zag_col_1 {
  font-weight: lighter;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  text-transform: uppercase;
  margin-top: 65px;
}

.item_hor_col_1 {
  width: 63px;
  height: 3px;
  background: #EF5B70;
  margin-top: 12px;
}

.item_zag_col_2 {
  font-weight: lighter;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  margin-top: 12px;
}

.item_text {
  font-weight: lighter;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5E5E5E;
  margin-top: 49px;
  width: 555px;
}

.item_price {
  font-weight: lighter;
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
  margin-top: 33px;
}

.item_hor_col_2 {
  width: 641px;
  height: 1px;
  background-color: #EAEAEA;
  margin-top: 65px;
}

.item_filter {
  margin-top: 65px;
  display: flex;
  justify-content: center;
}

.item_filter_det {
  position: relative;
}

.item_filter_part {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  margin-right: 23px;
  display: block;
  cursor: pointer;
}
.item_filter_part::after {
  content: "";
  background: url(../pictures/item_icon_arrow.svg) no-repeat center;
  width: 10px;
  height: 5px;
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 3px;
}

.item_filter_part_marg {
  margin-right: 0;
}

.item_filter_form {
  position: absolute;
  margin-top: 5px;
  z-index: 1;
  width: 110px;
  background-color: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.item_filter_form:last-child {
  padding-bottom: 13px;
}

.item_filter_chek {
  margin-left: 9px;
  margin-top: 10px;
  border: 1px solid #EBEBEB;
}

.item_filter_chek_text {
  display: inline-block;
  margin-top: -5px;
  margin-left: 9px;
  vertical-align: middle;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #6F6E6E;
}

.item_button {
  width: 211px;
  height: 48px;
  margin-top: 49px;
  border: 1px solid #FF6A6A;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  background-color: #FFFFFF;
  margin-bottom: 65px;
  transition: color 1s, background-color 1s;
  cursor: pointer;
}
.item_button::before {
  content: "";
  background: url(../pictures/item_icon_bascet.svg) no-repeat center;
  width: 26px;
  height: 24px;
  display: inline-block;
  margin-right: 23px;
  margin-bottom: -4px;
  transition: 1s;
}
.item_button:hover {
  background-color: #FF6A6A;
  color: #FFFFFF;
}

.item_button:hover::before {
  background: url(../pictures/list_icon_basket_hover.svg) no-repeat center;
}

@media (max-width: 1140px) {
  .item_pic_img {
    width: 466px;
    padding-top: 30px;
    padding-bottom: 29px;
  }
  .item {
    padding-bottom: 56px;
  }
  .item_container {
    top: 0;
    border: none;
    border-bottom: 1px solid #EAEAEA;
  }
}
@media (max-width: 735px) {
  .item {
    padding-bottom: 0;
  }
  .item_pic_img {
    width: 374px;
    padding-top: 85px;
    padding-bottom: 85px;
  }
  .item_text {
    margin-top: 32px;
    width: 326px;
    line-height: 20px;
  }
  .item_hor_col_2 {
    width: 175px;
    margin-top: 32px;
  }
  .item_filter {
    margin-top: 50px;
  }
  .item_button {
    margin-top: 65px;
  }
  .item_filter_part {
    font-size: 10px;
    line-height: 12px;
  }
}
.card {
  background-color: #FFFFFF;
}

.card_container {
  display: flex;
  justify-content: space-between;
}

.card_container_col_1 {
  width: 652px;
  padding-top: 96px;
  padding-bottom: 128px;
}

.card_items {
  margin-bottom: 72px;
}

.card_item {
  width: 652px;
  margin-bottom: 40px;
  display: flex;
  box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
}

.card_iten_img {
  margin-right: 31px;
}

.card_item_text {
  margin-right: 132px;
}

.card_item_text_zag {
  margin-top: 22px;
  margin-bottom: 42px;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
}

.card_item_text_main {
  margin-bottom: 6px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}

.card_item_text_main_marg {
  margin-right: 24px;
  display: inline-block;
}

.card_item_text_form {
  display: inline-block;
  width: 43px;
  height: 24px;
  border: 1px solid #EAEAEA;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #656565;
}

.card_item_text_second {
  color: #F16D7F;
}

.card_item_text_button {
  background: url(../pictures/card_close.svg) no-repeat center;
  width: 18px;
  height: 18px;
  border: 0;
  background-color: transparent;
  margin-top: 28px;
  transition: 1s;
  cursor: pointer;
}
.card_item_text_button:hover {
  background: url(../pictures/card_close_hover.svg) no-repeat center;
}

.card_item_buttons {
  display: flex;
  justify-content: space-between;
}

.card_item_button {
  width: 234px;
  height: 49px;
  border: 1px solid #A4A4A4;
  font-weight: lighter;
  font-size: 14px;
  line-height: 17px;
  color: #222222;
  background-color: #FFFFFF;
  transition: color 1s, border 1s;
  cursor: pointer;
}
.card_item_button:hover {
  border: 1px solid #F16D7F;
  color: #F16D7F;
}

.card_container_col_2 {
  margin-top: 113px;
  width: 360px;
}

.card_forms {
  margin-bottom: 57px;
}

.card_form_field {
  border: none;
}

.card_form_legend {
  font-weight: lighter;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-bottom: 20px;
}

.card_form_input {
  width: 358px;
  height: 44px;
  margin-bottom: 21px;
  padding-left: 17px;
  padding-right: 17px;
}
.card_form_input:focus {
  outline-color: #F16D7F;
}

.card_form_input::-moz-placeholder {
  font-weight: lighter;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.card_form_input:-ms-input-placeholder {
  font-weight: lighter;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.card_form_input::placeholder {
  font-weight: lighter;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.card_form_button {
  width: 100px;
  height: 34px;
  background-color: #FFFFFF;
  border: 1px solid #A4A4A4;
  font-weight: lighter;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  transition: border 1s, color 1s;
  cursor: pointer;
}
.card_form_button:hover {
  color: #F16D7F;
  border: 1px solid #F16D7F;
}

.card_basket {
  width: 360px;
  height: 214px;
  background-color: #F5F3F3;
  display: flex;
  flex-direction: column;
}

.card_basket_text_sub {
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  margin-top: 39px;
  text-align: end;
  margin-right: 34px;
}

.card_basket_text_sub_col_1 {
  padding-left: 20px;
}

.card_basket_text_gra {
  font-weight: lighter;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  text-align: end;
  margin-top: 12px;
  margin-right: 34px;
}

.card_basket_text_gra_col_1 {
  padding-left: 20px;
  font-weight: bold;
  color: #F16D7F;
}

.card_basket_hor {
  width: 275px;
  height: 1px;
  background-color: #E2E2E2;
  margin-top: 21px;
  margin-left: 43px;
}

.card_basket_button {
  width: 273px;
  height: 50px;
  margin-top: 17px;
  background-color: #F16D7F;
  font-weight: lighter;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  border: none;
  margin-left: 44px;
  transition: border 1s, color 1s, background-color 1s;
  cursor: pointer;
  -webkit-animation: scale-up-center 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
          animation: scale-up-center 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.card_basket_button:hover {
  background-color: #FFFFFF;
  color: #F16D7F;
  border: 1px solid #F16D7F;
}

@-webkit-keyframes scale-up-center {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
@media (max-width: 1140px) {
  .card_container {
    flex-direction: column;
    align-items: center;
  }
  .card_container_col_1 {
    padding-top: 59px;
    padding-bottom: 64px;
    width: 734px;
  }
  .card_item {
    width: 734px;
  }
  .card_item_text {
    margin-right: 210px;
  }
  .card_item_buttons {
    justify-content: center;
  }
  .card_item_button_mrg {
    margin-right: 48px;
  }
  .card_container_col_2 {
    margin-top: 0;
    display: flex;
    width: 100%;
  }
  .card_forms {
    margin-right: 15px;
    width: 359px;
    margin-bottom: 128px;
  }
  .card_basket {
    margin-top: 38px;
  }
}
@media (max-width: 735px) {
  .card_container_col_1 {
    padding-top: 39px;
    padding-bottom: 48px;
    width: 357px;
  }
  .card_items {
    margin-bottom: 30px;
  }
  .card_item {
    width: 357px;
    margin-bottom: 32px;
  }
  .card_iten_img {
    margin-right: 17px;
    width: 143px;
    height: 188px;
  }
  .card_item_text_zag {
    margin-top: 13px;
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 19px;
  }
  .card_item_text_main {
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 16px;
  }
  .card_item_text {
    margin-right: 50px;
  }
  .card_item_text_button {
    background: url(../pictures/card_close_mobile.svg) no-repeat center;
    width: 10px;
    height: 10px;
  }
  .card_item_text_button:hover {
    background: url(../pictures/card_close_mobile_hover.svg) no-repeat center;
  }
  .card_item_text_main_marg {
    margin-right: 15px;
  }
  .card_item_text_form {
    display: inline-block;
    width: 23px;
    height: 124px;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
  }
  .card_item_button {
    width: 174px;
    height: 32px;
    font-size: 12px;
    line-height: 14px;
  }
  .card_item_button_mrg {
    margin-right: 10px;
  }
  .card_container_col_2 {
    flex-direction: column;
  }
  .card_forms {
    margin-bottom: 48px;
  }
  .card_basket {
    margin-top: 0;
    margin-bottom: 96px;
  }
}/*# sourceMappingURL=style.css.map */