.header {
    background-color: $main_color_black;
}

.header_container {
    padding: 18px 0;
    @include flex_space;
    align-items: center;
}

.header_col_2 {
    position: relative;
    list-style-type: none;
    margin-right: 8px;
}

.header_item {
    display: inline-block;
}

.header_logo_link {
    margin-right: 41px;
    text-decoration: none;
}

.header_search,
.header_catalog,
.header_account,
.header_bascet {
    fill: #E8E8E8;
    transition: fill 1s;
}

.header_search_link:hover .header_search,
.header_catalog_link:hover .header_catalog,
.header_account_link:hover .header_account,
.header_bascet_link:hover .header_bascet {
    fill: $main_color_pink;
}


.header_account_link,
.header_bascet_link {
    margin-left: 33px;
    display: block;
}

.header_bascet_link::after {
    position: absolute;
    right: -8px;
    content: "5";
    color: $main_color_white;
    width: 19px;
    height: 19px;
    text-align: center;
    line-height: $main_height_17;
    background: url(../pictures/Header_Ellipse.svg) no-repeat top;
    display: inline-block;
}


.header_nav {
    position: absolute;
    z-index: 1;
    width: 232px;
    background-color: $main_color_white;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    padding-bottom: 120px;
    margin-top: 15px;
    transform: scaleY(0);
    transition: transform 1s;
    transform-origin: center top;
    left: -57px;
}

.header_item_hover:hover .header_nav {
    transform: scaleY(1);
}

.header_nav_close {
    background-color: transparent;
    border: none;
    position: absolute;
    cursor: pointer;
    background: url(../pictures/header_nav_close.svg) no-repeat center;
    width: 12px;
    height: 12px;
    top: 16px;
    right: 16px;
    transition: 1s;

    &:hover {
        background: url(../pictures/header_nav_close_hover.svg) no-repeat center;
    }
}

.header_nav_zag {
    font-weight: 700;
    font-size: $main_size_14;
    line-height: $main_height_17;
    color: $main_color_black_col_1;
    margin-left: 34px;
    margin-top: 37px;
}

.header_nav_zag_sec {
    font-weight: $main_weight_regular;
    font-size: $main_size_14;
    line-height: $main_height_17;
    color: $main_color_pink;
    margin-left: 34px;
    margin-bottom: 12px;
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
    transition: color 1s;

    &:hover {
        color: $main_color_black_col_1;
    }
}

.header_nav_list {
    list-style-type: none;
}

.header_nav_item {
    margin-left: 54px;
    margin-bottom: 11px;
}

.header_nav_link {
    text-decoration: none;
    margin-bottom: 11px;
    font-weight: $main_weight_regular;
    font-size: $main_size_14;
    line-height: $main_height_17;
    color: $main_color_grey_col_2;
    transition: color 1s;

    &:hover {
        color: $main_color_pink;
    }
}

@media (max-width:1140px) {}

@media(max-width:735px) {

    .header_account_link,
    .header_bascet_link {
        display: none;
    }

    .header_nav {
        left: -200px;
    }
}